# Uczenie Maszynowe - ćwiczenia 7

Wczytaj zbiór danych Titanic, który zawiera informacje o pasażerach Titanica. Celem jest rozwiazanie problemu klasyfikacyjnego - czy dany pasażer przyżyje jego katastrofę czy też nie. Zapoznaj się ze zbiorem danych - jak zmienne zawiera, jaki jest ich rozkład, czy są w nim brakujące dane.

In [1]:
from sklearn import datasets
data = datasets.fetch_openml(name='titanic', version=1)

C:\Users\kamil\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\__init__.py:16: UserWarning: A NumPy version >=1.22.4 and <2.3.0 is required for this version of SciPy (detected version 1.21.5)
  from scipy.sparse import issparse

In [2]:
data['data'].to_csv('titanic.csv')

In [3]:
data['target'].to_csv('titanic_target.csv')

In [4]:
dane = data['data']

In [5]:
dane

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [6]:
dane.cabin.str.replace(r'(\d+[.\d]*)','').unique()

C:\Users\kamil\AppData\Local\Temp\ipykernel_11644\2020417258.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dane.cabin.str.replace(r'(\d+[.\d]*)','').unique()

array(['B', 'C C', 'E', 'D', 'A', 'C', nan, 'B B', 'T', 'B B B', 'C C C',
       'D D', 'B B B B', 'E E', 'F', 'F G', 'F E', 'G'], dtype=object)

## 1. Dokonaj imputacji brakujących danych

Istnieje kilka metod, zaleznie od typu zmiennej.
Jesli jest to zmienna ciągła - wstawić możemy wartość stałą, średnią, medianę lub zastosować bardziej zaawansowane metody jak na przykład imputer metody najbliższych sąsiadów.

Jeśli jest to zmienna stała - możemy wstawić wartośc stałą, modę lub zastosować zaawansowane metody.

## 2. Dokonaj eksploracyjnej analizy danych poszukując najlepszych zmiennych do predykcji. Znajdź rozkłady zmiennych które nie są  normalne. Dokonaj ich transformacji i ponów eksplorację danych.

## 3. Kodowanie zmiennych kategorycznych

Zbiór zawiera zmienne kategoryczne, zakoduj zmienne kategoryczne tak by model mógł przeprowadzić predykcję.

    Zmienną Sex za pomocą kodowania binarnego (0, 1).
    Zmienną Embarked za pomocą one-hot encodingu.

Podpowiedź:

    Użyj OneHotEncoder z sklearn.preprocessing lub metody pd.get_dummies().

## 4. Przygotuj model

Podobnie do poprzednich zadań, zastosuj typowy proces uczenia maszynowego.

    Podziel zbiory
    Wybierz model
    Wykonaj CV
    Dobierz hiperparametry modelu

## 5. Przeprowadź dokładną analizę wyników i dobierz własny próg decyzyjny

Przeprowadź dokładną analizę wyników, zwracając uwagę na takie miary jak dokładnośc, precyzja, czułość, f1-score a także krzywe ROC i PR. Przygotuj wizualizacje wyników.

Użyj classification_report, confusion_matrix oraz metryk takich jak roc_auc_score i precision_recall_curve z sklearn.metrics. Oblicz i wyświetl macierz konfuzji w postaci graficznej (heatmap z seaborn).

## 6. Dobierz próg predykcyjny modeli.

Mając na uwadzę zwiększenie czułości modelu, dobierz próg decyzyjny tak, by wynik był jak najlepszy. Przeprowadź ponowną analizę wyników.

## 7. Iteracyjne ulepszenie modelu
Cofnij się do etapu doboru hiperaparametrów, by w procesie sprawdzianu krzyżowego dobrać hiperaparametry najlepsze dla celu optymalizacji modelu.

# 8. Iteracyjne ulepszenie modelu #2

 Dodaj nowe cechy do modelu:

    Stwórz grupy wiekowe (child, adult, senior).
    Użyj informacji o rodzinie (SibSp, Parch) do stworzenia cechy FamilySize i oznaczenia, czy pasażer podróżował sam.
    
Ponownie wytrenuj model. Czy wyniki uległy poprawie? Czy masz inny pomysł na poprawę wyników modelu?