# Uczenie Maszynowe - ćwiczenia 2

## Pandas

Dziś potrenujemy trochę zarządzanie danych z biblioteką Pandas. Pandas “Python Data Analysis Library” to biblioteka będąca najszerzej wykorzystywanym narzędziem w analizie danych w Pythonie.

Podczas gdy pandas przejmuje wiele idiomów/standardów kodowania z NumPy, największą różnicą jest to, że pandas jest przeznaczony do pracy z danymi tabelarycznymi lub heterogenicznymi. NumPy, dla porównania, najlepiej nadaje się do pracy z jednorodnymi danymi.

In [1]:
import pandas as pd

## Wczytujemy dane

Na repozytorium na githubie (https://github.com/SmolakK/UczenieMaszynowe2025) znajduje się plik meteo.csv, wczytaj go i wykonaj następujące polecenia.

Wyświetl dane i zapoznaj się z nimi:

Wyświetl przbieg temperatur i opadów w ciągu roku na jednym wykresie.

Policz średni opad i temperaturę przypadającą na każdy miesiąc roku. Zwizualizuj je za pomocą wykresu słupkowego.

       Precipitation total [mm]  Temperature [°C]
month
1                      0.000093          5.246215
2                      0.000124          4.719129
3                      0.000128          8.656568
4                      0.000151         10.838686
5                      0.000052         17.135336
6                      0.000304         22.983876
7                      0.000032         24.342453
8                      0.000198         23.531245
9                      0.000006         23.336765
10                     0.000152         15.301698
11                     0.000239          7.168016
12                     0.000101          4.711255

Policz statystyki związane z temperaturą w ciągu roku:
 * średnia
 * mediana
 * odchylenie standardowe
 * kwartyl 1 i 2
 * rozstęp międzykwartylowy

Wyświetl rozkład temperatury w ciągu roku używając biblioteki seaborn. Policz skośność rozkładu.

In [2]:
import seaborn as sns

Wyświelt rozkład opadów w ciągu roku, pomiń dni w których nie było opadu. Policz skośność opadu.

Wykres temperatury ma bardzo dużą wariację w ciągu dni. Wygładź ten wykres wykorzystując metodę .rolling() w pandas.

## Teoria prawdopodobieństwa - przypomnienie

Prawdopodobieństwo opisuje szanse na zajście wydarzenia. Waha się pomiędzy 0 (niemożliwe) a 1 (na pewno się wydarzy). 

### Zmienna losowa

Zmienna losowa to wynik losowego zdarzenia. Oznaczmy ją przez X. Prawdopodobieństwo, że podczas rzutu monetą otrzymamy reszkę wynosi 0.5 (albo 50%).

P(X=x) = 0.5

Napisz symulację, która sprawdzi jakie jest prawdopodobieństwo, że podczas rzutu monetą otrzymamy reszkę.

In [3]:
import numpy as np

def coin(trials=10_000):
    flips = np.random.randint(0,2,trials)
    return flips.sum()/trials

In [4]:
coin(trials=10)

0.5

In [5]:
px = []
for n in range(100,100_000,1000):
    px.append(coin(n))
plt.figure(figsize=(10,5))
plt.plot(range(100,100_000,1000),px)
plt.axhline(1/2, color='red', linestyle='--')
plt.ylim(0.4,0.6)

NameError: name 'plt' is not defined

Napisz taką samą symulację dla rzutu kością o 6 ściankach.

Używając zbioru meteo, policz jakie jest prawdopodobieństwo, że w maju będzie więcej niż X stopni? Stwórz funkcję, która pozwala wstawić różne wartości X.

Zasymuluj paradoks Monty'ego Halla. W tym paradoksie rozgrywany jest teleturniej w którym do wyboru są trzy bramki.

Za jedną z nich jest nagroda, za dwiema pozostałymi koza.

Uczestnik wybiera początkowo jedną z bramek. Prowadzący teleturniej otwiera jedną z dwóch niewybranych bramek. Uczestnik może wybrać - zmienić swój wybór lub pozostać przy swoim dotychczasowym wyborze.

Zasymuluj prawdopodobieństwo wygranej z uczestnikiem, który zmienia bramki i który nie zmienia jej.